/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --logo-color: #000000;
  --bgc-color: #ffffff;
  --background-color: #2f303a;
  --button-color: #188ce8;
  --background: #e5e5e5;
  --content-color: #f5f4fa;
  --mail-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --border-card-list: #eeeeee;
  --icon-color: #AFB1B8;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --card-title-color: rgba(47, 48, 58, 0.8);
  --description-color: rgba(33, 150, 243, 0.9);
  --color-placeholder: rgba(117, 117, 117, 0.5);
  --indent: 30px;
  --items: 4;
  --animation-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.portfolio, .client, .content, .about, .aside, .hero-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page__title, .about__subtitle, .aside__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.client__title, .content__caption, .about__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.hero-section__button, .form-button, .modal__btn, .form-field__btn, .filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.portfolio__container, .client__container, .footer__container, .content__wrapper, .about__wrapper, .aside__wrapper, .hero-section__container, .header__container {
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  color: var(--primery-text-color);
  background-color: var(--bgc-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-media__list {
  width: 44px;
  height: 44px;
}
.social-media__list:not(:last-child) {
  margin-right: 10px;
}
.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: color var(--animation-fast), background-color var(--animation-fast);
  transition: color var(--animation-fast), background-color var(--animation-fast);
}
.social-media__link--light {
  background-color: var(--bgc-color);
  color: var(--icon-color);
}
.social-media__icon--light {
  fill: currentColor;
}
.social-media__link--light:hover, .social-media__link--light:focus {
  background-color: var(--accent-text-color);
  color: var(--bgc-color);
}
.social-media__icon--light:hover, .social-media__icon--light:focus {
  color: var(--bgc-color);
}
.social-media__link--dark {
  color: var(--bgc-color);
  background-color: var(--footer-icon-color);
}
.social-media__icon--dark {
  fill: currentColor;
}
.social-media__link--dark:hover, .social-media__link--dark:focus {
  background-color: var(--accent-text-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.filter__list {
  margin-right: 8px;
}
.filter__list:last-child {
  margin-right: 0;
}
.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  color: var(--title-text-color);
  background-color: var(--content-color);
  border-radius: 4px;
  -webkit-transition: background-color var(--animation-fast), color var(--animation-fast), -webkit-box-shadow var(--animation-fast);
  transition: background-color var(--animation-fast), color var(--animation-fast), -webkit-box-shadow var(--animation-fast);
  transition: box-shadow var(--animation-fast), background-color var(--animation-fast), color var(--animation-fast);
  transition: box-shadow var(--animation-fast), background-color var(--animation-fast), color var(--animation-fast), -webkit-box-shadow var(--animation-fast);
}
.filter__button:hover, .filter__button:focus {
  color: var(--bgc-color);
  background-color: var(--accent-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__button--active {
  color: var(--bgc-color);
  background-color: var(--accent-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.logo {
  -webkit-transition: color var(--animation-fast);
  transition: color var(--animation-fast);
  color: var(--accent-text-color);
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo--dark-color {
  color: var(--logo-color);
}
.logo--light-color {
  color: var(--bgc-color);
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-media__list {
  width: 44px;
  height: 44px;
}
.social-media__list:not(:last-child) {
  margin-right: 10px;
}
.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: color var(--animation-fast), background-color var(--animation-fast);
  transition: color var(--animation-fast), background-color var(--animation-fast);
}
.social-media__link--light {
  background-color: var(--bgc-color);
  color: var(--icon-color);
}
.social-media__icon--light {
  fill: currentColor;
}
.social-media__link--light:hover, .social-media__link--light:focus {
  background-color: var(--accent-text-color);
  color: var(--bgc-color);
}
.social-media__icon--light:hover, .social-media__icon--light:focus {
  color: var(--bgc-color);
}
.social-media__link--dark {
  color: var(--bgc-color);
  background-color: var(--footer-icon-color);
}
.social-media__icon--dark {
  fill: currentColor;
}
.social-media__link--dark:hover, .social-media__link--dark:focus {
  background-color: var(--accent-text-color);
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}
.card-set__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-nav__item {
  margin-right: 50px;
  position: relative;
}
.site-nav__item:last-child {
  margin: 0;
}
.site-nav__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--animation-fast);
  transition: color var(--animation-fast);
  color: var(--title-text-color);
}
.site-nav__link--current {
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--animation-fast);
  transition: color var(--animation-fast);
  color: var(--accent-text-color);
  text-decoration: none;
}
.site-nav__link--current::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-text-color);
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.auth-nav__item {
  -webkit-transition: color var(--animation-fast);
  transition: color var(--animation-fast);
}
.auth-nav__item:first-child {
  margin-right: 50px;
}
.auth-nav__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--animation-fast);
  transition: color var(--animation-fast);
  color: var(--primery-text-color);
}
.auth-nav__item:hover, .auth-nav__item:focus, .auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-text-color);
}
.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact {
  line-height: 1.71;
  color: var(--bgc-color);
  text-decoration: none;
  -webkit-transition: color var(--animation-fast);
  transition: color var(--animation-fast);
}
.contact__item:not(:last-child) {
  margin-bottom: 9px;
}
.contact__link {
  line-height: 1.71;
  color: var(--mail-color);
  text-decoration: none;
  -webkit-transition: color var(--animation-fast);
  transition: color var(--animation-fast);
}
.contact__link--active:hover, .contact__link--active:focus {
  color: var(--accent-text-color);
}

.form-container {
  width: 570px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-field__input-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--bgc-color);
  -webkit-transition: backdrop-color var(--animation-fast);
  transition: backdrop-color var(--animation-fast);
  outline: transparent;
}
.form-field__input-mail:focus {
  border-color: var(--accent-text-color);
}
.form-field__input-mail:focus .form-field__input-mail::-webkit-input-placeholder {
  color: var(--accent-text-color);
  -webkit-transform: translateY(-100%) scale(0.6);
          transform: translateY(-100%) scale(0.6);
}
.form-field__input-mail:focus .form-field__input-mail::-moz-placeholder {
  color: var(--accent-text-color);
  transform: translateY(-100%) scale(0.6);
}
.form-field__input-mail:focus .form-field__input-mail:-ms-input-placeholder {
  color: var(--accent-text-color);
  transform: translateY(-100%) scale(0.6);
}
.form-field__input-mail:focus .form-field__input-mail::-ms-input-placeholder {
  color: var(--accent-text-color);
  transform: translateY(-100%) scale(0.6);
}
.form-field__input-mail:focus .form-field__input-mail::placeholder {
  color: var(--accent-text-color);
  -webkit-transform: translateY(-100%) scale(0.6);
          transform: translateY(-100%) scale(0.6);
}
.form-field__input-mail::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--mail-color);
}
.form-field__input-mail::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--mail-color);
}
.form-field__input-mail:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--mail-color);
}
.form-field__input-mail::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--mail-color);
}
.form-field__input-mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--mail-color);
}
.form-field__btn {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background-color: var(--accent-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--animation-fast);
  transition: -webkit-transform var(--animation-fast);
  transition: transform var(--animation-fast);
  transition: transform var(--animation-fast), -webkit-transform var(--animation-fast);
  color: var(--bgc-color);
}
.form-field__text-btn {
  margin-right: 10px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.backdrop {
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  -webkit-transition: opasity var(--animation-fast), visibility var(--animation-fast);
  transition: opasity var(--animation-fast), visibility var(--animation-fast);
}

.modal {
  position: absolute;
  -webkit-transition: -webkit-transform var(--animation-fast);
  transition: -webkit-transform var(--animation-fast);
  transition: transform var(--animation-fast);
  transition: transform var(--animation-fast), -webkit-transform var(--animation-fast);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--bgc-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--bgc-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform var(--animation-fast);
  transition: -webkit-transform var(--animation-fast);
  transition: transform var(--animation-fast);
  transition: transform var(--animation-fast), -webkit-transform var(--animation-fast);
}
.modal__icon {
  fill: var(--logo-color);
}
.modal__btn:hover .modal__icon, .modal__btn:focus .modal__icon {
  fill: var(--accent-text-color);
}

.form-modal {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}
.form-modal__text {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 12px;
  text-align: center;
  color: var(--title-text-color);
}

.form-wrapper {
  width: 448px;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-wrapper:not(:last-child) {
  margin-bottom: 10px;
}
.form-wrapper__label {
  display: block;
  margin-bottom: 4px;
}
.form-wrapper__container {
  position: relative;
}
.form-wrapper__input {
  padding-right: 42px;
  padding-left: 42px;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color var(--animation-fast);
  transition: border-color var(--animation-fast);
}
.form-wrapper__icon {
  position: absolute;
  bottom: 14px;
  left: 15px;
  fill: var(--title-text-color);
}
.form-wrapper__input:focus {
  border-color: var(--accent-text-color);
}
.form-wrapper__input:focus ~ .form-wrapper__icon {
  fill: var(--accent-text-color);
}
.form-wrapper__text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}

.comment__page {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
}
.comment__page::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-placeholder);
}
.comment__page::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-placeholder);
}
.comment__page:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-placeholder);
}
.comment__page::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-placeholder);
}
.comment__page::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-placeholder);
}

.checkbox {
  margin-bottom: 30px;
}
.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.checkbox__input:checked + .checkbox__custom {
  background-color: var(--accent-text-color);
  outline-color: var(--accent-text-color);
}
.checkbox__input:focus + .checkbox__custom {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.checkbox__custom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--title-text-color);
  border-radius: 2px;
  -webkit-transition: outline-color var(--animation-fast), background-color var(--animation-fast);
  transition: outline-color var(--animation-fast), background-color var(--animation-fast);
}
.checkbox__icon {
  fill: var(--bgc-color);
}
.checkbox__text {
  line-height: 1.71;
  color: var(--primery-text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox__link {
  color: var(--accent-text-color);
  -webkit-transition: -webkit-transform var(--animation-fast);
  transition: -webkit-transform var(--animation-fast);
  transition: transform var(--animation-fast);
  transition: transform var(--animation-fast), -webkit-transform var(--animation-fast);
}

.form-button {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin: auto;
  border: none;
  -webkit-transition: color var(--animation-fast), background-color(--animation-fast);
  transition: color var(--animation-fast), background-color(--animation-fast);
  background-color: var(--accent-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--bgc-color);
}
.form-button:hover, .form-button:focus {
  color: var(--button-color);
  background-color: var(--button-color);
}

.overley {
  position: relative;
  overflow: hidden;
}
.overley__text {
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  overflow: auto;
  -webkit-transition: opacity var(--animation-fast), -webkit-transform var(--animation-fast);
  transition: opacity var(--animation-fast), -webkit-transform var(--animation-fast);
  transition: opacity var(--animation-fast), transform var(--animation-fast);
  transition: opacity var(--animation-fast), transform var(--animation-fast), -webkit-transform var(--animation-fast);
  opacity: 0;
  color: var(--bgc-color);
  background: var(--description-color);
}

.card__link:hover .overley__text,
.card__link:focus .overley__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  overflow: visible;
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}
.nav__link {
  margin-right: 92px;
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/image-hero/img-hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/image-hero/img-hero.jpg);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-section__caption {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: var(--bgc-color);
  text-align: center;
  text-transform: uppercase;
}
.hero-section__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: color var(--animation-fast), background-color var(--animation-fast);
  transition: color var(--animation-fast), background-color var(--animation-fast);
  color: var(--bgc-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero-section__button:hover, .hero-section__button:focus {
  color: var(--accent-text-color);
  background-color: var(--button-color);
}

.aside__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--content-color);
  border-radius: 4px;
}
.aside__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
}
.aside__text {
  line-height: 1.71;
}

.about {
  padding-top: 0;
  --items: 3;
}
.about__container {
  position: relative;
  padding: 0;
}
.about__subtitle-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  bottom: 0;
  background: var(--card-title-color);
  width: 100%;
  height: 70px;
}
.about__subtitle {
  color: var(--bgc-color);
}

.content {
  background-color: var(--content-color);
}
.content__item {
  background: var(--bgc-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}
.content__team {
  padding-top: 30px;
  padding-bottom: 30px;
}
.content__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-align: center;
}
.content__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  text-align: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  margin-bottom: 20px;
}

.adress-container {
  margin-right: 70px;
}

.page {
  width: 206px;
  margin-right: 93px;
}
.page__title {
  margin-bottom: 20px;
  color: var(--bgc-color);
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.client__item {
  width: 170px;
  height: 92px;
}
.client__item:not(:last-child) {
  margin-right: 30px;
}
.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  -webkit-transition: color var(--animation-fast);
  transition: color var(--animation-fast);
}
.client__icon {
  fill: currentColor;
}
.client__link:hover, .client__link:focus {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.portfolio {
  --items: 3;
}
.card__container {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid var(--border-card-list);
  border-top: none;
}
.card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--title-text-color);
}
.card__subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.card__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--animation-fast);
  transition: -webkit-box-shadow var(--animation-fast);
  transition: box-shadow var(--animation-fast);
  transition: box-shadow var(--animation-fast), -webkit-box-shadow var(--animation-fast);
  background: var(--bgc-color);
  border: 1px solid var(--border-card-list);
}
.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */