.about {
  visibility: hidden;
  display: none;

  @media screen and (min-width: 1200px) {
    @include paddings(94px, null, 94px, null);


  visibility:visible;
  display:flex;
    padding-top: 0;
    --items: 3;
  }

  &__wrapper {
    visibility: hidden;
    display: none;

    @media screen and (min-width: 1200px) {
      @include paddings(null, 15px, null, 15px);

      display: block;
      visibility:visible;
        width: 100%;
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
    }
  }

  &__title {
    visibility: hidden;
    display: none;

    @media screen and (min-width: 1200px) {

   @include fonts(null, 36px, 1.17);   
    color: var(--title-text-color);
                text-align: center;
                           margin-bottom: 50px;
            visibility:visible;
            display: block;
    }
  }

  &__container {
    visibility: hidden;
    display: none;

    @media screen and (min-width: 1200px) {
      position: relative;
      padding: 0;
      visibility:visible;
  display:flex;
    }
  }

  &__subtitle-container {
    visibility: hidden;
    display: none;

    @media screen and (min-width: 1200px) {
      position: absolute;
      display: flex;
      visibility:visible;
      justify-content: center;
      align-items: center;
      left: 0;
      bottom: 0;
      background: var(--card-title-color);
      width: 100%;
      height: 70px;
    }
  }

  &__subtitle {
    visibility: hidden;
    display: none;

    @media screen and (min-width: 1200px) {
      @include fonts(null);
      text-transform: uppercase;
      color: var(--bgc-color);
      visibility:visible;
  display:flex;
    }
  }
}
