  
  @media screen and (min-width: 480px){
  .about {visibility: hidden;
      display: none;}}

    @media screen and (min-width: 768px){
  .about {visibility: hidden;
      display: none;}}
    
    @media screen and (min-width: 1200px){
      .about {@extend %section;

    padding-top: 0;
    --items: 3;
    }}
   

    @media screen and (min-width: 480px){
  .about__wrapper {visibility: hidden;
      display: none;}}

    @media screen and (min-width: 768px){
  .about__wrapper {visibility: hidden;
      display: none;}}
    
    @media screen and (min-width: 1200px){
      .about__wrapper {
@extend %container;
       }}
   
     
 @media screen and (min-width: 480px){
  .about__title {visibility: hidden;
      display: none;}}

    @media screen and (min-width: 768px){
  .about__title {visibility: hidden;
      display: none;}}
    
    @media screen and (min-width: 1200px){
      .about__title {
@extend %section-title;
       }}
       
    @media screen and (min-width: 480px){
  .about__container {visibility: hidden;
      display: none;}}

    @media screen and (min-width: 768px){
  .about__container {visibility: hidden;
      display: none;}}
    
    @media screen and (min-width: 1200px){
      .about__container {
position: relative;
    padding: 0;
       }}

      @media screen and (min-width: 480px){
  .about__subtitle-container {visibility: hidden;
      display: none;}}

    @media screen and (min-width: 768px){
  .about__subtitle-container {visibility: hidden;
      display: none;}}
    
    @media screen and (min-width: 1200px){
      .about__subtitle-container {
   position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    background: var(--card-title-color);
    width: 100%;
    height: 70px;
       }}

  @media screen and (min-width: 480px){
  .about__subtitle {visibility: hidden;
      display: none;}}

    @media screen and (min-width: 768px){
  .about__subtitle {visibility: hidden;
      display: none;}}
    
    @media screen and (min-width: 1200px){
      .about__subtitle {
 @extend %title;

    color: var(--bgc-color);
       }}


