.footer {
  @include paddings(60px, null, 60px, null);

  background-color: var(--background-color);
  text-align: center;

  

  &__container {
    @extend %container;
    
    @media screen and (min-width: 1200px) {
    display: flex;
        align-items: baseline;
        justify-content: space-between;
  }
  }

  &__wrapper {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
      margin-bottom: 60px;
         }

     @media screen and (min-width: 1200px) {
      
      margin: 0;
      
  }}

    &__link {
      display: block;
      margin-right: 0;
      margin-bottom: 20px;

@media screen and (min-width: 1200px)
      {display: flex;
  align-items: center;
  }
    }
  }


.adress-container {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    // margin-right: 165px;

  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 70px;
    text-align: left;
  }
}

.page {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    // margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
    width: 206px;
    text-align: left;
  }

  &__title {
    @extend %title;

    margin-bottom: 20px;

    color: var(--bgc-color);
  }
}







