.footer {
  @include paddings(60px, null, 60px, null);

  background-color: var(--background-color);
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  &__container {
    @extend %container;
  }

  &__wrapper {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
      margin-bottom: 60px;
    }

    &__link {
      display: block;
      margin-right: 0;
      margin-bottom: 20px;

@media screen and (min-width: 1200px)
      {display: flex;
  align-items: center;
  }
    }
  }
}

.adress-container {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.page {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    width: 206px;
  }

  &__title {
    @extend %title;

    margin-bottom: 20px;

    color: var(--bgc-color);
  }
}







