.footer{

  @include paddings(60px,null,60px,null);

  background-color: var(--background-color);

  &__container{

    @extend %container;

     display: flex;
  align-items: baseline;
  }

  &__link {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-bottom: 20px;
}
}

.adress-container {
  margin-right: 70px;
}

.page {
  width: 206px;
  margin-right: 93px;

&__title {

  @extend %title;
  
  margin-bottom: 20px;

  color: var(--bgc-color);
}
}