.header {
  border-bottom: 1px solid var(--border-color);
  
   &__container {

    @extend %container;

    display: flex;
    align-items:center;
  }}

  .nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  
  &__link {
  margin-right: 92px;
}
}




