%section{
    @include paddings (94px, null, 94px, null)}

%title{
    @include fonts(null);
        text-transform: uppercase;
}

%section-title{
    @include fonts(null, 36px, 1.17);

    color: var(--title-text-color);
                text-align: center;

                 margin-bottom: 50px;
  }

%button{
    display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
         font-family: inherit;
        cursor: pointer;
        border: none;
}

%container{
     @include paddings (null, 15px, null, 15px);

    width: 1200px;
        margin-left: auto;
        margin-right: auto;
        }