:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196f3;
    --logo-color: #000000;
    --bgc-color: #ffffff;
    --background-color: #2f303a;
    --button-color: #188ce8;
    --background: #e5e5e5;
    --content-color: #f5f4fa;
    --mail-color: rgba(255, 255, 255, 0.6);
    --border-color: #ececec;
    --border-card-list: #eeeeee;
    --icon-color: #AFB1B8;
    --footer-icon-color: rgba(255, 255, 255, 0.1);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --card-title-color: rgba(47, 48, 58, 0.8);
    --description-color: rgba(33, 150, 243, 0.9);
    --color-placeholder: rgba(117, 117, 117, 0.5);

    --indent: 30px;
    --items: 4;

    --animation-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}